<div ng-controller="ChatRoomsController as chatRoomCtrl" class="contents">

    <div class="row">
        <div class="col-xs-7">
            Welcome to the Chat, please select a chatroom below or create one
            <div class="row">

                <!--<div class="col-md-4 module">-->
                <h4>List of ChatRooms</h4>

                <div role="complementary" class="module-contents list list-posts clearfix">
                    <ul class="nav bs-docs-sidenav ">
                        <li data-ng-repeat="chatroom in chatRoomsList" class="clearfix">
                            <a ui-sref="chatroom({chatRoomName:  chatroom['name'] })" href=""
                               ng-click="connectChatRoom(chatroom['name'] )"> {{chatroom['name']}} </a>
                        </li>
                    </ul>
                </div>

            </div>

        </div>


    </div>

</div>
