<div ng-controller="ChatRoomController as chatRoomCtrl" class="contents">

    <div class="row">
        <div class="col-xs-7">
            <textarea rows="15" class="form-control" readonly="true" id="zone_chat"></textarea>

            <form role="form" id="formulaire_chat" data-toggle="validator">
                <input type="text" name="message" id="message" ng-model="message" data-minlength="1"
                       placeholder="Votre message..."
                       size="50"/>
                <button ng-click="sendMessage()" class="btn"> Go!</button>
            </form>
        </div>

        <div class="col-md-4 module">
            <h4>Users list</h4>

            <div class="list-group" id="listUser">
                <p data-ng-repeat="users in connectedUser "> {{users['pseudo']}}</p>
            </div>
        </div>
    </div>
</div>
