<div ng-controller="AuthController as authCtrl" class="contents">

    <div class="row">
        <div class="col-xs-7">
            <div class="panel panel-default panel-margin-20">
                <div class="panel-body">

                    <form role="form" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-md-4 control-label">Pseudo</label>

                            <div class="col-md-6">
                                <input type="text" value="" name="pseudo" ng-model="pseudo" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button class="btn btn-primary" type="button" ng-click="login()">Go!</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>