<!DOCTYPE html>
<html ng-app="mychatsample">
<head>
    <meta charset="utf-8"/>
    <title>Super Chat temps réel !</title>
    <!-- using twitter bootstrap, but of course -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/myChat.css" rel="stylesheet">
    <!-- styles for ng-animate are located here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.6/ngStorage.min.js"></script>
    <script src="assets/js/ui-router/ui-router.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/jquery-ui.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="modules/app.js"></script>

    <script src="services/MessageService.js"></script>
    <script src="services/UserService.js"></script>
    <script src="services/ChatRoomService.js"></script>
    <script src="services/myChatFactory.js"></script>


    <script src="controllers/MyChatController.js"></script>
    <script src="controllers/Auth/AuthController.js"></script>
    <script src="controllers/storage/StorageController.js"></script>
    <script src="controllers/ChatRoom/ChatRoomController.js"></script>
    <script src="controllers/ChatRoom/ChatRoomsController.js"></script>


</head>

<body ng-controller="MyChatController as myChatCtrl">

<div class="container">

    <header>
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top container navbar-inner">
            <div class="navbar-inner">
                <div class="navbar-header">
                    <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a ui-sref="home" class="navbar-brand">MyChat App</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav icone">
                        <li ui-sref-active-eq="active" ng-hide="isConnected"><a
                                ui-sref="auth">login</a></li>
                        <li ng-hide="!isConnected" ng-controller="AuthController as authCtrl"><a
                                ng-click="logout()" ui-sref-active-eq="active" ui-sref="logout">logout</a></li>
                        <li ng-hide="!isConnected" ui-sref-active-eq="active"><a
                                ui-sref="createCR">Create a Chat Room</a></li>

                        <li ng-hide="!isConnected" ng-controller="AuthController as authCtrl"
                            ui-sref-active-eq="active"><a ui-sref="chatrooms">ChatRooms</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div ui-view/>

</div>

</body>
</html>

