.contents {
    height: 100%;
    margin-top: 65px;
    /*border: 1px solid;*/
}

.row {
    /*background-color: #f8f8f8;*/
    border-radius: 4px;
    height: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.row .module {
    border-left: 1px solid #e8e8e8;
    float: right;
    margin-top: 5px;
}