<div class="col-md-4 module">
    <div role="complementary" class="module-contents list list-posts clearfix">
        <ul class="nav bs-docs-sidenav ">
            <li class="clearfix">
                <a href="http://choubidouda.bzh/posts/get_29"> Un peu d'Oracle : Le Bulk Collect </a>
            </li>
        </ul>
    </div>
</div>